<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderStay</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../includes/narbar.ejs") %>
    <main class="container">
        <%- body %>
    </main>

    <%- include("../includes/footer.ejs") %>
<script src="/scripts/narbar.js"></script>
</body>
</html>